*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.container{
    width:500px;
    margin:auto;
}
.chat{
    display:flex;
    flex-direction: column;
    height: 100vh;
    background: #f1f0e8;
}
.chat.header{
    display:flex;
    cursor:pointer;

}
.profile{
    width:100%;
    background: #036055;
    display: flex;
    align-items: center;
    height:60px;
padding-left:0px 10px;
position: relative;
}
.profile.pp{
    width:50px;
    display: inline-block;
    border-radius: 50%;
    margin-left:32px;

}
.profile span{
    color:#ccc;
    position: absolute;
    top:42px;
    left:90px;
    font-size:14px;
    margin-right: 10vw;

}
.profile .arrow{
    display: inline-block;
    width:39px;
    position: absolute;
    top:19px;
    cursor: pointer;
}
.profile h2{
    display: inline-block;
    line-height: 60px;
    vertical-align: bottom;
    color:#fff;
    font-size: 20px;
    margin-right: 10vw;
}
.right .icon{
    display: inline-block;
    width: 50px;

margin-left: 10px;

}
.profile .left{
    flex:1;

}
.chat-box{
    flex:1;
    flex-direction: column;
    overflow: scroll;
}
 .comment-sec{
    margin-top: px;

}
chat-box left{
    
}
.chat-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    top:480px;

}
.chat-footer textarea {
    display: block;
    flex: 1;
    width: 90%;
    border-radius: 60px;
    padding:10px;
    margin:5px;
    outline:none;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 90px;
    border:2px solid #ccc;
    columns: #555;
   
}
.profile .pp{
    width:50px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 32px;
}

.chat-footer .mic{
    display: block;
    width: 55px;
    height:55px;
    margin-right: 20px;
   
    

}
.chat-right{
    flex:1;
}
.chat-right .sp{
    flex:1;
}
.chat-box .mess{
    max-width: 300px;
    background: #f7fcf6;
    padding: 10px;
    border-radius: 10px;
    margin:20px 0px;
    cursor:pointer;
}
chat-box .mess p{
    word-break:break-all;
    font-size: 18px;
}
.chat-box .mess-r{
    background: #E2FFC7;
}
.chat-box .emoji{
    width: 20px;

}
.chat-box .check{
    float:right;
}
.chat-box .check img{
    width: 20px;
}

.chat-footer .emo{
    display: block;
    width:35px;
    height:35px;
    position: absolute;
    left:10px;
    top:12px;
}
.chat-footer .icons{
    position: absolute;
    right:100px;
   /* top:480px;*/
}
.chat-footer .icons img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left:5px;

}


}